<% if !users.nil? && !users.empty? %>
  <div id="user_items">
    <strong><%= users.size -%> <%= "users".pluralize %></strong>
      <% users.sort.each do |user| %>
      <br><em><%= h user.name %></em>
      <% end %>
  </div>
<% end %>


